<div class="main-content">

	<!-- BreadCrumbs -->
	<div id="BreadCrumbs-container">
		<p><a href="#">Home</a> <span class="seperator">/</span> <span>Broadband Plans</span></p>
	</div>

	<!-- Page Message -->
	<div class="title page-message">
		<h1>Compare Broadband Network</h1>
		<p><b>Confused by all the different broadband providers in the market? We can help.</b><br>
			Compare ADSL, ADSL2+, Cable, Naked DSL, Mobile/Wireless, Prepaid Mobile/Wireless broadband plans from the top broadband providers to find the right deals for you.
		</p>
	</div>

	<!-- Result Filter Dropdown Menu -->
	<div class="row filter" id="search-filters">

		<div class="col-md-4">
			<label>Search by Provider</label>
			<ul class="row tags">
				<li><a href="#" class="btn btn-secondary btn-sm active" role="button" aria-disabled="true">All</a></li>
				<li><a href="#" class="btn btn-secondary btn-sm" role="button" aria-disabled="true">Vodafone</a></li>
				<li><a href="#" class="btn btn-secondary btn-sm" role="button" aria-disabled="true">Etisalat</a></li>
				<li><a href="#" class="btn btn-secondary btn-sm" role="button" aria-disabled="true">Orange</a></li>
				<li><a href="#" class="btn btn-secondary btn-sm" role="button" aria-disabled="true">TE Data</a></li>
			</ul>
		</div>

		<div class="col-md-4">
			<label>Bundle Options</label>
			<ul class="row tags">
				<li><a href="#" class="btn btn-secondary btn-sm active" role="button" aria-disabled="true">All</a></li>
				<li><a href="#" class="btn btn-secondary btn-sm" role="button" aria-disabled="true">Mobile Broadband</a></li>
				<li><a href="#" class="btn btn-secondary btn-sm" role="button" aria-disabled="true">ADSL</a></li>
				<li><a href="#" class="btn btn-secondary btn-sm" role="button" aria-disabled="true">ADSL+2</a></li>
				<li><a href="#" class="btn btn-secondary btn-sm" role="button" aria-disabled="true">Cabel</a></li>
			</ul>
		</div>

		<div class="col-md-4">
			<label>Data & Spend</label>
			<div class="slidecontainer">
				<b>Unlimited Data <span id="dataValue"></span></b>
			  	<input type="range" min="1" max="100" value="0" class="slider" id="dataRange">
			</div>

			<div class="slidecontainer">
				<b>Value <span id="priceValue"></span></b>
			  	<input type="range" min="1" max="100" value="0" class="slider" id="priceRange">
			</div>
		</div>
	</div>

	<div class="row justify-content-end" id="sort-container">
		<div class="form-row col-md-3">
		    <div class="form-group col-md-12">
		      <select id="inputState" class="form-control">
		        <option selected>Sort By</option>
		        <option>Alphabetical</option>
		        <option>Recent Added</option>
		      </select>
		    </div>
		</div>
	</div>

	<div id="results">
		<div id="results">
		@foreach ($offers as $key => $offer)
		<div class="row plan-result">
			<div class="col-md-6">
				<div class="row justify-content-between plan-details">
					<div>
						<h1 class="name"><a href="{{url('/show-offer/'.$offer['offer_id'])}}">{{$offer["title"]}}</a></h1>
						<p>{{$offer["subtitle"]}}</p>
					</div>
					<div>
						<a class="btn btn-primary" href="http://{{$offer['offer_url']}}" role="button">Go to Site</a>
					</div>
					<div class="logo-container">
						<img src="{{$offer['provider_logo']}}">
					</div>
				</div>
			</div>
                                    <div class="col-md-4">
			
			
				<div class="row plan-icons">
                                                @foreach ($offer["feature"] as $keyfeature => $offerfeature)
					<div class="col-md-6 text-center">
						<img src="{{$offerfeature['image']}}" class="icon-img">
						<b>{{$offerfeature["title"]}}</b>
					</div>
                                                @endforeach
				</div>
			
			</div>

			<div class="col-md-2">
				<div class="text-center">
					<h1><sup><small>$ </sup></small>{{$offer["price"]}}<sup><small> /mth</small></sup></h1>
					<p>{{$offer["price_sub_title"]}}</p>
				</div>
			</div>
		</div>
		@endforeach
	</div>


	</div>

</div>